/*
Theme Name: Pratt
Theme URI: http://xtremelysocial.com/wordpress/pratt/
Description: Pratt by XtremelySocial is an adaptation of the "Pratt" theme by Blacktie.co. It is a modern, fully responsive, "flat" style theme with a nice color palette, big full-width images, and full-width colored sections. The navbar is fixed at the top of the page for easy navigation. It includes several beautiful header images for businesses, photographers, musicians, writers and you can upload your own as well. For more information go to http://xtremelysocial.com/wordpress/pratt/.
Author: XtremelySocial
Author URI: http://xtremelysocial.com
Version: 1.5
License: GNU General Public License
License URI: http://www.opensource.org/licenses/GPL-3.0
Template: flat-bootstrap
Template Version: 1.9
Tags: one-column, right-sidebar, left-sidebar, fluid-layout, responsive-layout, custom-background, custom-header, custom-menu, featured-images, featured-image-header, full-width-template, flexible-header, rtl-language-support, theme-options, translation-ready, sticky-post, threaded-comments, light, blue

Pratt WordPress theme, Copyright (C) 2014 XtremelySocial
Pratt WordPress theme is licensed under the GPL.
See readme.txt file for license information on components used in this theme.
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Navigation
	## Menus
# Content
	## Header
	## Footer
# Padding
--------------------------------------------------------------*/

/* 
 * IMPORT the parent theme's stylesheet(s). NOTE: This was moved to functions.php for
 * performance reasons.
 */
/*@import url("../flat-bootstrap/style.css");*

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/* 
 * Need room for fixed navbar at the top. If you change the height of it, change it 
 * here as well. Make sure the navbar doesn't wrap on tablets or it won't look good.
 */
body {
    padding-top: 50px;
}

/* 
 * When WordPress admin bar is displayed, move theme menu down below it. Note that the
 * media query here uses the exact breakpoint in WordPress not the breakpoint in this
 * theme. 
 */
body.admin-bar .navbar-fixed-top { 
	top: 32px !important; 
}
body.admin-bar #wpadminbar {
    position: fixed;
	border-bottom: 1px solid #080808; /* match our topnav */
}
@media screen and (max-width:782px) {
	body.admin-bar .navbar-fixed-top {
		top: 46px !important; 
	}
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

/* Change height of cover (home page) and section (other pages) images */
.cover-image, 
.cover-image-overlay,
.section-image, 
.section-image-overlay {
	height: 480px; /* cross-browser */
	min-height: 480px;
}

/* Change cover (front page) and section image crop to center. Bold the h1 tag. */
.section-image, 
.cover-image {
	background-position: center center;
}
.section-image-overlay h1, 
.cover-image-overlay h1 {
	font-weight: 700;
}

/* Set spacer margin back to 100px as the header image as not as tall as in the parent theme */
@media (min-width: 768px) {
	.cover-image .spacer {
		margin-top: 100px;
	}
}

/* Style the footer area to have white text and link underlines instead of the parent
 * theme's gray text and white links. If you want to revert to the parent theme's style
 * just comment out this section.
 */
/*
.sidebar-footer {
	color: #fff !important;
}
.sidebar-footer a, 
.sidebar-footer a:hover, 
.sidebar-footer a:focus {
	color: #fff !important;
	text-decoration: underline !important;
}
*/

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

/* 
 * Reduce the footer heading h2 to match the h3 font size and reduce the size of labels. 
 * e.g. in a contact form.
 */
.sidebar-footer h2 {
	font-size: 28px;
	line-height: 30px;
}
.sidebar-footer {
	padding-top: 50px;
	padding-bottom: 15px;
}
.sidebar-footer label {
	font-size: 16px;
	line-height: 22px;
}

/*--------------------------------------------------------------
# Padding
--------------------------------------------------------------*/

/* 
 * Adjust the padding only in sections for now (Flat Bootstrap v1.9).
 * TO-DO: Flat Bootstrap v2.0 completely changes the way section padding is handled.
 * It already increases it to 48px, so remove this.
*/
.section {
	padding-top: 50px;
	padding-bottom: 50px;
}
/*.padding-top {
	padding-top: 50px;
}
.padding-bottom {
	padding-bottom: 50px;
}*/
.page-posts {
	padding-bottom: 25px;
}
